<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Guidelines for Data Collection and Submission</title>
  <meta name="description" content="Guidelines for submitting metadata regarding biosamples and their associated cases to sequence repositories.">
  <meta name="author" content="Centre for Infectious Disease Genomics and One Health, Simon Fraser University, Burnaby, Canada">
  <link rel="stylesheet" href="./doc.css">

</head>

<body>
	
	<h2>Guidelines for data collection and submission</h2>
	<hr size="2"/>
	<p>Guidelines for submitting data regarding samples.</p>

	<table>
		<thead>
			<tr>
				<th class="label">Field</th>
				<th class="description">Description</th>
				<th class="guidance">Guidance</th>
				<th class="example">Examples</th>
				<th class="data_status">Data Status</th>
			</tr>
		</thead>
		<tbody>
			<!-- python search and replace does this part -->	
  			{html}
		</tbody>
	</table>
</body>
</html>