<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Guidelines for Biosample Metadata Collection and Submission</title>
  <meta name="description" content="Guidelines for submitting metadata regarding biosamples and their associated cases to sequence repositories.">
  <meta name="author" content="Hsiao Public Health Bioinformatics, Vancouver, BC, Canada">
  <link rel="stylesheet" href="./doc.css">

</head>

<body>
	
	<h2>Guidelines for Biosample metadata collection and submission</h2>
	<hr size="2"/>
	<p>Guidelines for submitting metadata regarding biosamples and their associated cases to sequence repositories.</p>

	<table>
		<thead>
			<tr>
				<th class="label">Field</th>
				<th class="description">Description</th>
				<th class="guidance">Guidance</th>
				<th class="example">Examples</th>
				<th class="data_status">Data Status</th>
			</tr>
		</thead>
		<tbody>
			<!-- python search and replace does this part -->	
  			
						<tr class="section">
							<td colspan="5"><h3>Database Identifiers</h3></td>
						</tr>
						
						<tr>
							<td class="label">need this field added</td>
							<td></td>
							<td></td>
							<td></td>
							<td>['Not Applicable', 'Missing', 'Not Collected', 'Not Provided', 'Restricted Access']</td>
						</tr>

						
						<tr class="section">
							<td colspan="5"><h3>Fields to put in sections</h3></td>
						</tr>
						
						<tr>
							<td class="label">Submitter</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">FASTA filename</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Virus name</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Type</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Passage details/history</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Collection date</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Location</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Additional location information</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Host</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Additional host information</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Gender</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Patient age</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Patient status</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Specimen source</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Outbreak</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Last vaccinated</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Treatment</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Sequencing technology</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Assembly method</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Coverage</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Originating lab</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Address</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Sample ID given by the sample provider</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Submitting lab</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Address</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Sample ID given by the submitting laboratory</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">Authors</td>
							<td></td>
							<td></td>
							<td></td>
							<td>None</td>
						</tr>

						</table>

		</tbody>
	</table>
</body>
</html>