@import 'libraries/handsontable.full.min.css';
@import 'libraries/bootstrap.min.css';

.dropdown-item:hover {
    cursor: pointer;
}

#grid {
    overflow: hidden;
}

#header-row {
    visibility: hidden;
}

.listbox {
    white-space: pre !important;
}

#open-file-input {
    display: none;
}

.read-only {
    font-size: medium;
    font-weight: bold;
}

.invalid-cell {
    background-color: red !important;
}
