@import 'libraries/handsontable-7.4.2/dist/handsontable.full.min.css';
@import 'libraries/bootstrap-4.3.1-dist/css/bootstrap.min.css';

.dropdown-item:hover {
    cursor: pointer;
}

#grid {
    overflow: hidden;
}

#header-row {
    visibility: hidden;
}

.listbox {
    white-space: pre !important;
}

#open-file-input {
    display: none;
}

.read-only {
    font-size: medium;
    font-weight: bold;
}

.invalid-cell {
    background-color: red !important;
}

/* table.htCore happens in multiple places so have to exclude .handsontableInputHolder etc. */
div#grid > div:not(.handsontableInputHolder) table.htCore tbody > tr:nth-child(1) > td {
	height:52px;
}
div#grid > div:not(.handsontableInputHolder) table.htCore tbody > tr > td:first-child {
	max-width:190px;
}

/* right border on frozen 2nd column */
div#grid > div:not(.handsontableInputHolder) table.htCore tbody > tr+tr+tr th+td {
		border-right: 2px solid grey;
}

/* 1st row section styling */
div#grid > div:not(.handsontableInputHolder) table.htCore tbody tr:first-child td:not(:empty) {
	font-size:1.2rem;
	background:lightgreen;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-left: 1px solid green;
	border-top: 1px solid green;
	border-right: 1px solid green;
	padding:5px;
}

div#grid > div:not(.handsontableInputHolder) table.htCore tbody tr:first-child td.htAutocomplete {
	border-radius: 0px;
	border-left: 0px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background:transparent;
}

div#grid > div:not(.handsontableInputHolder) table.htCore tbody tr:first-child td.htAutocomplete div.htAutocompleteArrow {
	color:transparent; /* hides arrows from 1st row */
}

/* 2nd row frozen field header styling including border on bottom */
div#grid > div:not(.handsontableInputHolder) table.htCore tbody tr:nth-child(2) td {
	background:ivory;
	padding:5px;
	border-bottom: 2px solid grey;

}
