<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Guidelines for Biosample Metadata Collection and Submission</title>
  <meta name="description" content="Guidelines for submitting metadata regarding biosamples and their associated cases to sequence repositories.">
  <meta name="author" content="Hsiao Public Health Bioinformatics, Vancouver, BC, Canada">
  <link rel="stylesheet" href="./doc.css">

</head>

<body>
	
	<h2>CanCOGeN Guidelines for Biosample metadata collection and submission</h2>
	<hr size="2"/>
	<p>Guidelines for submitting metadata regarding biosamples and their associated cases to sequence repositories.</p>

	<table>
		<thead>
			<tr>
				<th class="label">Field</th>
				<th class="description">Description</th>
				<th class="guidance">Guidance</th>
				<th class="example">Examples</th>
				<th class="data_status">Data Status</th>
			</tr>
		</thead>
		<tbody>
			<!-- python search and replace does this part -->	
  			
	    			<tr class="section">
	    				<td colspan="5"><h3>Database Identifiers</h3></td>
	    			</tr>
	    			
	    			<tr>
	    				<td class="label">ISOLATE_ID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SAMPLE_ID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">Country_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">Province_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">DATECOLLECTED_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SubmittingOrg_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SubmittingLab_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CIPARS generic email</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">FINAL_ID_GENUS</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">FINAL_ID_SPECIES</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">FINAL_ID_SEROTYPE</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SA_Serotype_Method</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">FINAL_ID_PHAGETYPE</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">Project_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SPECIES</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			</table>

		</tbody>
	</table>
</body>
</html>