<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Guidelines for Biosample Metadata Collection and Submission</title>
  <meta name="description" content="Guidelines for submitting metadata regarding biosamples and their associated cases to sequence repositories.">
  <meta name="author" content="Hsiao Public Health Bioinformatics, Vancouver, BC, Canada">
  <link rel="stylesheet" href="./doc.css">

</head>

<body>
	
	<h2>Guidelines for Biosample metadata collection and submission</h2>
	<hr size="2"/>
	<p>Guidelines for submitting metadata regarding biosamples and their associated cases to sequence repositories.</p>

	<table>
		<thead>
			<tr>
				<th class="label">Field</th>
				<th class="description">Description</th>
				<th class="guidance">Guidance</th>
				<th class="example">Examples</th>
				<th class="data_status">Data Status</th>
			</tr>
		</thead>
		<tbody>
			<!-- python search and replace does this part -->	
  			
	    			<tr class="section">
	    				<td colspan="5"><h3>Database Identifiers</h3></td>
	    			</tr>
	    			
	    			<tr>
	    				<td class="label">SPECIMEN_ID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">ISOLATE_ID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SAMPLE_ID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr class="section">
	    				<td colspan="5"><h3>Fields to put in sections</h3></td>
	    			</tr>
	    			
	    			<tr>
	    				<td class="label">SENTINEL_SITE</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">LFZ_ADDITIONAL_SAMPLE_ID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">LFZ_ORIGIN_COUNTRY</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SUBJECT_CODE</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SUBJECT_DESCRIPTIONS</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SUBMITTINGORG_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SUBMITTINGLAB_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">PROJECT_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">COUNTRY_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">PROVINCE_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CENSUSDIVISION_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">REGION</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">YEAR</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MONTH</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">QTR</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">DATECOLLECTED_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CIPARS generic email</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">DATERECEIVED_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">DATESHIPPED_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">ESTABLISHMENT_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SPECIES</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">STTYPE</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">STYPE</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">COMMODITY</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SPECIMENSOURCE_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SPECIMENSUBSOURCE_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SUBJECT_SUBTYPE</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">FIELDSTAFF_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">IN_STORE_PROCESSING</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MAYCONTAINFROZENMEAT_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">NOOFCASHREGISTERS_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">PRICEPERKG_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">STORETYPE_SAMPLINGSITE_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">TEMPERATUREMAX_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">TEMPERATUREMIN_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">TEMPERATUREARRIVAL_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">VETID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">ROOMID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">PENID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SAMPLING_TYPE</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">BARN_ID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">DATE_PACKED</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">FINAL_ID_GENUS</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">FINAL_ID_SPECIES</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">FINAL_ID_SUBSPECIES</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">FINAL_ID_SEROTYPE</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">FINAL_ID_ANTIGEN</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">FINAL_ID_PHAGETYPE</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SA_Serotype_Method</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SEROTYPE_GR</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_AMC</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_AMK</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_AMP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_AZM</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_CEP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_CHL</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_CIP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_CRO</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_FOX</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_GEN</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_KAN</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_MEM</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_NAL</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_SSS</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_STR</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_SXT</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_TET</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MIC_TIO</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">N_OF_RESISTANCE</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">NBTESTED</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">R_PATTERN</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">AMR_PA2C</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RLEAST1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RLEAST2</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RLEAST3</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RLEAST4</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RLEAST5</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_AMC</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_AMK</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_AMP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_AZM</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_CEP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_CHL</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_CIP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_CRO</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_FOX</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_GEN</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_KAN</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_MEM</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_NAL</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_SSS</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_STR</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_SXT</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_TET</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">SIR_TIO</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RAMC</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RAMK</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RAMP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RAZM</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RCEP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RCHL</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RCIP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RCRO</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RFOX</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RGEN</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RKAN</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RMEM</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RNAL</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RSSS</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RSTR</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RSXT</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RTET</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RTIO</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">A2C</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CAMC</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CAMK</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CAMP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CAZM</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CCEP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CCHL</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CCIP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CCRO</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CFOX</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CGEN</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CKAN</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CMEM</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CNAL</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CSSS</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CSTR</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CSXT</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CTET</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">CTIO</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">STHY_TESTSRC_ID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">WINN_TESTSRC_ID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">GUEL_TESTSRC_ID</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RCIP_DANMAP</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">EPIDATESTAMP_1</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">ACSSUT</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">AKSSUT</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">ACKSSUT</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MDR_A_SSUT</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">EXCLUSION</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RAMINOGLY</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RBETALACTAM</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RQUINOLONES</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">RFOLINHIBITOR</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">MDR</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">specimen_number</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">EXTERNAL_AGENT</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">FARM_FLAG</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			
	    			<tr>
	    				<td class="label">AMIKACINGELET</td>
	    				<td></td>
	    				<td></td>
	    				<td></td>
	    				<td>None</td>
	    			</tr>

	    			</table>

		</tbody>
	</table>
</body>
</html>