<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NMDC DataHarmonizer template XXX</title>
  <meta name="description" content="Guidelines for submitting metadata about XXX biosamples">
  <meta name="author" content="NMDC, BBOP, Mark A. Miller and friends">

  <link rel="stylesheet" href="./doc.css">

</head>

<body>
	
	<h2>NMDC DataHarmonizer template XXX</h2>
	<hr size="2"/>
	<p>Guidelines for submitting metadata about XXX biosamples</p>

	<table>
		<thead>
			<tr>
				<th class="label">Field</th>
				<th class="description">Description</th>
				<th class="guidance">Guidance</th>
				<th class="example">Examples</th>
				<th class="data_status">Data Status</th>
			</tr>
		</thead>
		<tbody>
			<!-- python search and replace does this part -->	
  			
						<tr class="section">
							<td colspan="5"><h3>sample identification</h3></td>
						</tr>
						
						<tr class="section">
							<td colspan="5"><h3>required where applicable</h3></td>
						</tr>
						
						<tr class="section">
							<td colspan="5"><h3>optional</h3></td>
						</tr>
						
						<tr class="section">
							<td colspan="5"><h3>required</h3></td>
						</tr>
						
						<tr>
							<td class="label">unique_ID</td>
							<td>Unique ID</td>
							<td>Field REQUIRED for ALL sample submission. Options: IGSN- http://www.geosamples.org/getigsn ; UUID- https://www.uuidgenerator.net/</td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">samp_name</td>
							<td>Sample Name</td>
							<td>ID that is present on the shipped sample. Human readable.</td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">investigation_type</td>
							<td>Analysis/Data Type</td>
							<td>This field is constrained to contain only a set of limited terms (listed under Expected value) that indicate the types of data that were generated. Include all the data types, this field can have multiple values separated by a ;</td>
							<td>drop down selection list</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">package</td>
							<td>Sample Type</td>
							<td>MIxS Package</td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">source_mat_id</td>
							<td>Source Material ID</td>
							<td>A unique identifier assigned to an original material sample collected or to any derived sub-samples. The source material should be listed as a sample to inform details about parent material relationship.</td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">growth_facil</td>
							<td>Growth Facility</td>
							<td>Type of facility or location form where the sample was harvested</td>
							<td>{text}|{termLabel} {[termID]}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">collection_date</td>
							<td>Collection Date</td>
							<td></td>
							<td>{timestamp}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">samp_mat_process</td>
							<td>Material Processing</td>
							<td></td>
							<td>{text}|{termLabel} {[termID]}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">store_cond</td>
							<td>Storage Condition</td>
							<td>Informs how your sample was stored</td>
							<td>drop down selection list</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">samp_store_temp</td>
							<td>Storage temperature</td>
							<td></td>
							<td>drop down selection list</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">samp_size</td>
							<td>Sample size</td>
							<td></td>
							<td>{value}{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">geo_loc_name</td>
							<td>Geographical Location Name</td>
							<td></td>
							<td>country or sea name; region or state; specific location</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">lat_lon</td>
							<td>latitude, longitude</td>
							<td></td>
							<td>{latitude decimal; longitude decimal}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">elev</td>
							<td>elevation-meters</td>
							<td></td>
							<td>{value}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">chem_administration</td>
							<td>chemical administration/addition treatment</td>
							<td></td>
							<td>{termLabel} {[termID]}; {timestamp}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">watering_regm</td>
							<td>watering regimen/schedule treatment</td>
							<td></td>
							<td>{float} {unit};{Rn/start_time/end_time/duration}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">air_temp_regm</td>
							<td>air temperature regimen treatment</td>
							<td></td>
							<td>{float} {unit};{Rn/start_time/end_time/duration}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">gaseous_environment</td>
							<td>gas evironment/exposure treatment</td>
							<td></td>
							<td>{text};{float} {unit};{Rn/start_time/end_time/duration}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">isotope_exposure</td>
							<td>isotope exposure/addition treatment</td>
							<td></td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">climate_environment</td>
							<td>climate environment treatment</td>
							<td></td>
							<td>{text};{Rn/start_time/end_time/duration}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">humidity_regm</td>
							<td>humidity regimen/adition treatment</td>
							<td></td>
							<td>{float} {unit};{Rn/start_time/end_time/duration}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">light_regm</td>
							<td>light regimen treatment</td>
							<td></td>
							<td>{text};{float} {unit};{float} {unit}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">biotic_regm</td>
							<td>biotic regimen/addition treatment</td>
							<td></td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">other</td>
							<td>treatment-other details</td>
							<td></td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">size_frac_low</td>
							<td>size-fraction lower threshold</td>
							<td></td>
							<td>{value}{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">size_frac_up</td>
							<td>size-fraction upper threshold</td>
							<td></td>
							<td>{value}{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">size_frac</td>
							<td>Size Fraction- Filter Type</td>
							<td></td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">sieving</td>
							<td>Sieve Size</td>
							<td></td>
							<td>{value}{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">samp_collect_device</td>
							<td>sample collection device</td>
							<td>Report dimensions and details when applicable</td>
							<td>{text} dimensions</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">host_common_name</td>
							<td>common name</td>
							<td></td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">host_taxid</td>
							<td>NCBI ID</td>
							<td></td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">alt</td>
							<td>altitude-meters</td>
							<td></td>
							<td>{value}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">isol_growth_condt</td>
							<td>Isolation and growth conditions</td>
							<td></td>
							<td>{DOI} or {URL} or {text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">growth_medium</td>
							<td>Growth Medium</td>
							<td></td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">other</td>
							<td>treatment-other details</td>
							<td></td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">biotic_relationship</td>
							<td>biotic relationship</td>
							<td></td>
							<td>enumeration</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">encoded_traits</td>
							<td>encoded traits</td>
							<td></td>
							<td>for plasmid: antibiotic resistance {text}; for phage: converting genes {text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">host_spec_range</td>
							<td>host specificity or range</td>
							<td></td>
							<td>{integer}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">oxy_stat_samp</td>
							<td>oxygenation status of sample</td>
							<td></td>
							<td>enumeration</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">pathogenicity</td>
							<td>known pathogenicity</td>
							<td></td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">propagation</td>
							<td>propagation</td>
							<td></td>
							<td>{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">ref_biomaterial</td>
							<td>reference for biomaterial</td>
							<td></td>
							<td>{PMID}|{DOI}|{URL}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">specific_host</td>
							<td>specific host</td>
							<td></td>
							<td>{NCBI taxid}|{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">subspecf_gen_lin</td>
							<td>subspecific genetic lineage</td>
							<td></td>
							<td>{rank name}:{text}</td>
							<td>None</td>
						</tr>

						
						<tr>
							<td class="label">trophic_level</td>
							<td>trophic level</td>
							<td></td>
							<td>enumeration</td>
							<td>None</td>
						</tr>

						</table>

		</tbody>
	</table>
</body>
</html>
