html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  /* Prevents track or mouse scroll gestures from triggering page navigation in chrome off of displayed page. */
  overscroll-behavior: contain;
}

/* For dh2-i18n-rc1 only! */
#data-harmonizer-tabs {
  /* display: none; */
}

.data-harmonizer-grid .secondary-header-cell:hover {
  cursor: pointer;
}
.data-harmonizer-grid td.invalid-cell {
  background-color: #ffcccb !important;
}
.data-harmonizer-grid td.empty-invalid-cell {
  background-color: #ff91a4 !important;
}
.data-harmonizer-grid .htAutocompleteArrow {
  color: gray;
}
.data-harmonizer-grid th {
  text-align: left;
}
.data-harmonizer-grid th.required {
  background-color: yellow !important;
}
.data-harmonizer-grid th.recommended {
  background-color: plum !important;
}


/* TESTING FOR WIDER DROPDOWN MENU WIDTH */
.handsontable.listbox .ht_master table {
  width: auto;
}

.handsontable.listbox {
  white-space: pre !important;
}
.handsontable.listbox td {
  border-radius: 3px;
  border: 1px solid silver;
  background-color: #ddd;
}
.handsontable.listbox td:hover {
  background-color: lightblue !important;
}
.handsontable.listbox td.current.highlight {
  background-color: lightblue !important;
}



.add-rows-input {
  max-width: 60px;
}
/* MAKING BOOTSTRAP tab states more pronounced */ 
li.nav-item > a.nav-link.active {
  font-weight:bold
}
li.nav-item.disabled {
  background-color: #eee !important;
  opacity: 0.7;
  cursor: not-allowed !important;
}
.handsontable span.colHeader.columnSorting::before {
/* SVG up down icon, convert to URL encoded for background-images below.
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M6 9.65685L7.41421 11.0711L11.6569 6.82843L15.8995 11.0711L17.3137 9.65685L11.6569 4L6 9.65685Z"
    fill="currentColor"/>
  <path
    d="M6 14.4433L7.41421 13.0291L11.6569 17.2717L15.8995 13.0291L17.3137 14.4433L11.6569 20.1001L6 14.4433Z"
    fill="currentColor"/>
</svg>
*/

background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M6%209.65685L7.41421%2011.0711L11.6569%206.82843L15.8995%2011.0711L17.3137%209.65685L11.6569%204L6%209.65685Z%22%0A%20%20%20%20fill%3D%22currentColor%22%2F%3E%0A%20%20%3Cpath%0A%20%20%20%20d%3D%22M6%2014.4433L7.41421%2013.0291L11.6569%2017.2717L15.8995%2013.0291L17.3137%2014.4433L11.6569%2020.1001L6%2014.4433Z%22%0A%20%20%20%20fill%3D%22currentColor%22%2F%3E%0A%20%20%3C%2Fsvg%3E");
  background-size:1.1rem;
  right:-10px;
  padding-right:10px;
  padding-bottom:15px;

}

.handsontable span.colHeader.columnSorting.ascending::before {
  /* arrow up */
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M6%209.65685L7.41421%2011.0711L11.6569%206.82843L15.8995%2011.0711L17.3137%209.65685L11.6569%204L6%209.65685Z%22%0A%20%20%20%20fill%3D%22currentColor%22%2F%3E%0A%20%20%3C%2Fsvg%3E");
  top:6px;
}

.handsontable span.colHeader.columnSorting.descending::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%0A%20%20%20%20d%3D%22M6%2014.4433L7.41421%2013.0291L11.6569%2017.2717L15.8995%2013.0291L17.3137%2014.4433L11.6569%2020.1001L6%2014.4433Z%22%0A%20%20%20%20fill%3D%22currentColor%22%2F%3E%0A%3C%2Fsvg%3E");
  top:13px;
}

/* Removes arrows from section header row as well as any disabled sort columns */
.handsontable span.colHeader.columnSorting.indicatorDisabled::before {
  background-size:0 !important;
}

.secondary-header-text {
  cursor:pointer !important;
  z-index: 10; 
  margin-right:10px;
  margin-top:5px;
}


/* Tooltip container */
.tooltipy {
  position: relative;
  display: inline-block;
  /*border:1px solid red; */
  cursor: pointer;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltipy .tooltipytext {
  /*visibility: hidden;*/
  min-width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  padding: 2px;
  border-radius: 3px;
  border:1px solid green;
  /* Position the tooltip text - see examples below! */
  position: absolute;
    margin: 0px !important;
  margin-bottom: 25px;
  bottom:25px;
  left:0px;
  text-wrap: nowrap !important;
  min-width: auto !important;
  font-weight:normal;
  font-size: 0.7rem;
  opacity: 0;
  transition: opacity 1s;
}

.tooltipy .tinytip {
  
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipy:hover .tooltipytext {
  visibility:visible;
  opacity: 1;
}

/* Hide tooltip text for DH tabs that aren't disabled */
#data-harmonizer-tabs .tooltipy:not(.disabled) .tooltipytext {
  opacity: 0;
}
#data-harmonizer-tabs .tooltipy.disabled .tooltipytext {
  bottom:100%;
}

/* optional little arrow at top. See https://www.w3schools.com/css/css_tooltip.asp 
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
*/

button.btn.small {
   padding: 5px !important;
   margin: 2px 0px 2px 4px !important;
}

.handsontable .ht__manualRowMove.after-selection--rows tbody th.ht__highlight, .handsontable.ht__manualRowMove.after-selection--rows tbody th.ht__highlight {
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}
/*.modal.show */
#translate-modal .modal-dialog {
  width:95%; 
  max-width: 100% !important;
  margin:1rem !important;
}
#translate-modal table {
  min-width: 50%;
  margin-bottom:15px;
}
#translate-modal table th {
  background-color:#EEE;
  padding:5px;
}
#translate-modal table td {
  padding:5px;
}
#translate-modal table th.locale {
  width:60px;
}

#translate-modal table tr td, table tr th {
  vertical-align: top; 
}
#translate-modal table tr.translate td {
  background-color:#EFE; 
  margin-top:15px;
}
tr.translation-input td textarea {
  min-height:3lh;
  max-height:10lh;
  min-width:200px;
  field-sizing: content;
}

tr.translate_key td {
  border-top:1px solid gray;
  font-weight:bold;
}

td.schemaSlot {
  border-top:2px solid green;
  background-color: #EFE;
}

/* Not sure how to display frozen column right side in header area
.data-harmonizer-grid th.overlayEdge {
  border-right: 2px solid black !important;
}
*/

/* Handsontable class. Marks right side of frozen columns */
.ht_clone_left {
  border-right: 2px solid black !important;
}

/* Handsontable class.  Enables clipped display of frozen column identifier fields */
.ht_clone_inline_start td {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.coding_name {font-size: .8rem} /* Used where slot.name is shown */

/* Handsontable class for readOnly fields */
.handsontable td.hatched {
  background: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 7px,
    lightsilver 1px,
    lightsilver 8px);
}

.slot-report-select {width:150px}

select#select-translation-localization {
  margin-left:15px;
  appearance: base-select !important; /*Adds ability to show SVG icons in chrome.*/
}

select#select-translation-localization:has(> option[value="en"]:checked)::before {
  content: url("translations/flags/ca.svg");
  width: 15px;
  margin-right: 15px;
}
select#select-translation-localization:has(> option[value="fr"]:checked)::before {
  content: url("translations/flags/ca.svg");
  width: 15px;
  margin-right: 15px;
}

.selectDepth_0 {padding-left:0px !important}
.selectDepth_1 {padding-left:20px !important}
.selectDepth_2 {padding-left:40px !important}
.selectDepth_3 {padding-left:60px !important}
.selectDepth_4 {padding-left:80px !important}
.selectDepth_5 {padding-left:100px !important}